<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spreadsheet</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <script src="https://unpkg.com/htmx.org@2.0.0"
          integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
          crossorigin="anonymous"></script>

  <style>
    .cell {
        min-width: 4rem;
        background: lightcyan;
    }
  </style>
</head>
<body>

<div class="container">
  {{block "table" .}}
    <form id="table" hx-patch="/table" hx-swap="outerHTML">
      <table>
        <thead>
        <tr>
          <th></th>
            {{range $column := $.Columns}}
              <th>{{$column.Label}}</th>
            {{end}}
        </tr>
        </thead>
        <tbody id="tbody">
        {{range $rowIndex, $row := $.Rows -}}
        <tr>
          <td>{{$row.Label}}</td>
            {{range $columnIndex, $column := $.Columns -}}
                {{template "view-cell" ($.Cell $columnIndex $rowIndex)}}
            {{- end}}
        </tr>
            {{- end}}
        </tbody>
      </table>
      <button type="submit">Submit</button>
    </form>
  {{end}}
  <a href="/table.json" download>Download</a>

  <form hx-encoding='multipart/form-data' hx-post='/table.json'
        _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100' hx-target="#table" hx-swap="outerHTML">
    <input type='file' name='table.json'>
    <button>
      Upload
    </button>
    <progress id='progress' value='0' max='100'></progress>
  </form>
</div>
</body>
</html>

{{define "edit-cell" -}}
  <td class="cell" id="{{.ID}}" data-column-index="{{.Column}}" data-row-index="{{.Row}}" >
    <input type="text" name="{{.ID}}" value="{{.ExpressionText}}" aria-label="expression for cell {{.IDPathParam}}" autofocus>
      {{if .Error}}
        <p style="color: red;">{{.Error}}</p>
      {{end}}
  </td>
{{- end}}

{{define "view-cell"}}
  {{if not .Error -}}
    <td class="cell" id="{{.ID}}" data-row-column="{{.Column}}" data-row-index="{{.Row}}" hx-get="/cell/{{.IDPathParam}}" hx-swap="outerHTML">
        {{- .String -}}
    </td>
  {{- else -}}
    {{template "edit-cell" .}}
  {{- end -}}
{{end}}

