<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bulk Edit</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <script src="https://unpkg.com/htmx.org@1.9.6"
          integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.5.10/css/pico.min.css"
        integrity="sha384-JnI9fsy7u0hXe2CXur8V8MkHfeqi2q7x6KYi4DbEYIjZJuP2Z2eMlp2RbdO7p3zL"
        crossorigin="anonymous">
  <style>
	  .htmx-settling tr.deactivate td {
		  background: lightcoral;
	  }
	  .htmx-settling tr.activate td {
		  background: darkseagreen;
	  }
	  tr td {
		  transition: all 1.2s;
	  }
  </style>
</head>
<body>

<div class="container">
  <form id="checked-contacts" >
    <table>
      <thead>
      <tr>
        <th></th>
        <th>Color</th>
        <th>Saved Status</th>
      </tr>
      </thead>
      <tbody id="tbody">
      {{block "rows" .}}
          {{range .}}
            <tr>
              <td><input type='checkbox' name='ids' value='{{.ID}}' aria-label="active status"></td>
              <td>{{.Name}}</td>
              <td>{{if .Active}}Active{{else}}Not Active{{end}}</td>
            </tr>
          {{end}}
      {{end}}
      </tbody>
    </table>
  </form>

  <div hx-include="#checked-contacts" hx-target="#tbody">
    <button hx-put="/activate">Activate</button>
    <button hx-put="/deactivate">Deactivate</button>
  </div>
</div>

</body>
</html>